@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --primary-color: rgb(2, 171, 194);
  --primary-background-color: #121212;
  /* --secondary-color: #2ecc71; */
  --secondary-color: #8902ef;
  --primary-text-font: "Roboto", sans-serif;
  --primary-heading-font: "Roboto Condensed", sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
}

/* Common Stylings */

.primary-color {
  color: var(--primary-color);
}

body {
  background-color: var(--primary-background-color);
  color: white;
}

a {
  text-decoration: none;
}

.section-title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-shadow: 1px 1px 0px #0411a552;
  color: var(--secondary-color);
  font-family: var(--primary-heading-font);
}

@media screen and (max-width: 600px) {
  .section-title {
    font-size: 30px;
  }
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--primary-background-color);
  z-index: 10;
}

.navbar-scrolled {
  z-index: 10;
  box-shadow: 0px 2px 10px 0px #0c0c0c;
}

.navbar .logo {
  color: rgb(0, 225, 255);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  font-size: 24px;
  margin: 0;
}

.navbar .navbar-toggler {
  box-shadow: none;
  border: none;
  color: white;
}

.navbar .nav-item .nav-link {
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  padding: 12px;
  transition: all 0.5s;
}

.navbar .nav-item .nav-link:hover {
  color: var(--secondary-color);
  transform: translateY(-2px);
}

/* Hero Section */

.hero-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 710px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

.hero-section .main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 45px;
  font-weight: 700;
}

.hero-section .main-title .btn {
  border: 2px solid white;
  color: white;
}

.hero-section .main-title .btn:hover {
  /* color: #2ecc71;
  border: 2px solid #2ecc71; */
  color: #8902ef;
  border: 2px solid #8902ef;
}

.hero-section img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
}

@media screen and (max-width: 700px) {
  .hero-section .main-title {
    font-size: 30px;
  }
}

/* About Section */

.about-text {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 20px;
  font-family: var(--primary-text-font);
}

.about-img img {
  width: 100%;
  border-radius: 10px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
  transition: transform 0.3s ease-in-out;
}

.about-img img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .about-text {
    font-size: 16px;
  }
}

/* Projects Section */

.swiper {
  width: 100%;
  height: 100%;
}


/* .scroll-container {
  display: flex;
  gap: 3%;
  overflow-x: hidden;
  width: 90%;
  margin: 30px auto;
} */

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3%;
  height: 500px;
  border-radius: 10px;
  box-shadow: rgb(169 157 237) 0px 1px 9px 0px;
}

.project h2 {
  color: var(--secondary-color);
  font-family: var(--primary-heading-font);
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.project-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
}

.project-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.project-description {
  font-size: 16px;
  margin-bottom: 20px;
  font-family: var(--primary-text-font);
  flex-grow: 1;  
  font-size: 16px;
  font-family: var(--primary-text-font);

}


.project-link {
  display: flex;
  justify-content: center;
  background-color: #7800b5;
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin: auto;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #a709f7;
    color: white;
  }
}

/* .left-button {
  position: absolute;
  left: 0;
  top: 40%;
  font-size: 80px;
  cursor: pointer;
  box-shadow: 0px -1px 20px #ef02e81f;
  z-index: 10;
}

.right-button {
  position: absolute;
  right: 0;
  top: 40%;
  font-size: 80px;
  cursor: pointer;
  box-shadow: 0px -1px 20px #ef02e81f;
  z-index: 10;
} */

/* @media screen and (max-width: 1024px) {
  .project {
    min-width: 40%;
  }
}

@media screen and (max-width: 660px) {
  .project {
    min-width: 90%;
  }

  .left-button,
  .right-button {
    font-size: 45px;
  }
} */

/* Contact Section */

.contact{
  width: 368px;
  margin: auto;
}
.contact-details {
  font-size: 18px;
  line-height: 1.8;
  font-family: var(--primary-text-font);
  /* text-align: center; */
}

.contact-details a {
  color: var(--secondary-color);
  text-decoration: none;
}

.contact-details a:hover {
  text-decoration: underline;
}


/* Footer */

footer {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  height: 60px;
  text-align: center;
  padding-top: 15px;
  font-family: var(--primary-text-font);
}

footer a {
  text-decoration: none;
  color: white;
  width: 20px;
  font-family: var(--primary-text-font);
}

/* .social-links {
        margin-top: 20px;
    }
    
    .social-icon {
        color: #fff;
        font-size: 24px;
        margin-right: 20px;
        transition: transform 0.3s ease-in-out;
    }
    
    .social-icon:hover {
        transform: scale(1.2);
    } */
