@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --primary-color: rgb(2, 171, 194);
    --primary-background-color: #121212;

    --primary-heading-color: #2ecc71;
    --primary-text-font:  "Roboto", sans-serif;
    --primary-heading-font: "Roboto Condensed", sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
}

/* Common Stylings */

.primary-color {
    color: var(--primary-color);
}

body {
    background-color: var(--primary-background-color);
    color: white;
}

a {
    text-decoration: none;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 60px;
    text-align: center;
}

/* Navbar */

.navbar {
    /* border-bottom: 2px solid rgb(182, 182, 182); */
    position: fixed;
    width: 100%;
    background-color: var(--primary-background-color);
    
}

.navbar .navbar-brand {
    color: var(--primary-color);
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bolder;
    font-size: 24px;
}

.navbar .navbar-toggler {
    box-shadow: none;
    border: none;
    color: white;
}

.navbar .nav-item .nav-link {
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
}

.navbar .nav-item .nav-link:hover {
    color: var(--primary-color);
}

/* Hero Section */

.hero-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 710px;
    margin: auto;
    font-family: "Roboto", sans-serif;
}

.hero-section .main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 45px;
    font-weight: 700;

}

.hero-section .main-title .btn {
    border: 2px solid white;
    color: white;

}

.hero-section .main-title .btn:hover {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);

}


.hero-section img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
}

@media screen and (max-width:700px) {

    .hero-section {
        height: 600px;
        font-family: "Roboto", sans-serif;
    }


    .hero-section .main-title {
        font-size: 30px;
        font-weight: 700;
    }
}

/* About Section */
#about {
    padding: 80px 0;
}

#about .section-title {
    color: var(--primary-heading-color);
    font-family: var(--primary-heading-font);

}

.about-text {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
    font-family: var(--primary-text-font);
}

.about-img img {
    width: 100%;
    border-radius: 10px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
    transition: transform 0.3s ease-in-out;
}

.about-img img:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .section-title {
        font-size: 30px;
    }

    .about-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 576px) {
    .section-title {
        font-size: 24px;
    }
}

/* Projects Section */
#projects {
    padding: 80px 0;
}

.project {
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: rgb(169 157 237) 0px 1px 9px 0px;
    height: 422px;

}

.project h1 {
    color: var(--primary-heading-color);
    font-family: var(--primary-heading-font);

}

.project img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.project-info {
    padding: 20px;
}

.project-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.project-description {
    font-size: 16px;
    margin-bottom: 20px;
    font-family: var(--primary-text-font);

}

.project-link {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: auto;
    transition: background-color 0.3s ease;
}

.project-link:hover {
    background-color: var(--primary-heading-color);
}


/* Skills Section */
#skills {
    padding: 80px 0;
}

.section-title {
    color: var(--primary-heading-color);

}

.skill {
    margin-bottom: 30px;
}

.skills-container {
    display: flex;
    flex-direction: column;
}

.skill-name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.progress {
    height: 25px;
    background-color: #ddd;
    border-radius: 25px;
    overflow: hidden;
}

.progress-bar {
    width: 0;
    height: 100%;
    line-height: 25px;
    color: #fff;
    text-align: center;
    background-color: #007bff;
    border-radius: 25px;
    
    transition: width 1.5s ease-out;
}

/* Footer */

footer {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    font-family: var(--primary-text-font);

}

footer a {
    text-decoration: none;
    color: white;
    width: 20px;
    font-family: var(--primary-text-font);

}

/* .social-links {
        margin-top: 20px;
    }
    
    .social-icon {
        color: #fff;
        font-size: 24px;
        margin-right: 20px;
        transition: transform 0.3s ease-in-out;
    }
    
    .social-icon:hover {
        transform: scale(1.2);
    } */